*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@function px-to-rem($px) {
    $base-font-size: 16px;
    @return #{calc($px / $base-font-size)}rem;
}

$body-bg-clr: #F5F5F5;
$nav-link-bg-hover-color: #EFFCF6;
$primary-clr: #0b8342;
$primary-text-clr: #5D5F5F;
$light-clr: #DCDDDD;
$primary-clr-dark: #005925;

body {
    background-color: $body-bg-clr;
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 240px 1fr;
}

button,
label,
input,
textarea {
    font-family: inherit;
}

.hide-dropdown {
    display: none;
}

.navigation-content {
    background-color: #Ffffff;
    padding-block: 1rem;
    height: 100vh;
}

.main-content {
    padding: 3rem 2.5rem;

    >.wrapper {
        background-color: #FDFCFC;
        border-radius: 10px;
        padding: 1.2rem 1rem;
    }
}

.link-button {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.625em 0.75em;
    background-color: $primary-clr;
    border-radius: 8px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    font-size: .85rem;

    &:hover {
        background-color: $primary-clr-dark;
    }

    &.alt {
        background-color: inherit;
        color: $primary-clr;
        border: 1px solid $primary-clr;

        svg path {
            stroke: $primary-clr;
        }

        &:hover,
        &:hover svg path {
            background-color: $primary-clr-dark;
            color: white;
            stroke: white;
        }
    }

}

svg {
    display: grid;
    place-content: center;
}

.button {
    border: 1px solid $primary-clr;
    color: white;
    padding: 0.625em 0.75em;
    background-color: $primary-clr;
    border-radius: 8px;
    font-size: .85rem;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    svg path {
        stroke: white;
        transition: stroke .3s ease-in-out;
    }

    &:hover,
    &:hover svg path {
        background-color: $primary-clr-dark;
        stroke: $primary-clr-dark;
    }

    &.alt {
        background-color: inherit;
        color: $primary-clr;

        svg path {
            stroke: $primary-clr;
        }

        &:hover,
        &:hover svg path {
            background-color: $primary-clr-dark;
            color: white;
            stroke: white;
        }
    }
}