*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$body-bg-clr: #F5F5F5;
$nav-link-bg-hover-color: #EFFCF6;
$primary-clr: #0b8342;
$primary-text-clr: #5D5F5F;
$light-clr: #DCDDDD;
$primary-clr-dark: #005925;

body {
    background-color: $body-bg-clr;
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 240px 1fr;
}

button,
label,
input,
textarea {
    font-family: inherit;
}



.navigation-content {
    background-color: #Ffffff;
    padding-block: 1rem;
    height: 100vh;
}

.main-content {
    padding: 3rem 2.5rem;

    >.wrapper {
        background-color: #FDFCFC;
        border-radius: 10px;
        padding: 1.2rem 1rem;
    }
}

.content-table-header {
    display: grid;
    gap: 2rem;
}

.upper-header-section,
.lower-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-table-title {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
        color: $primary-text-clr;
        font-weight: 500;
    }

    .svg-wrapper {
        padding: .4em;
        border-radius: 4px;
        box-shadow: 0px 4px 9.2px 2px #0000000F;
    }
}

.table-actions {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.table-search-input {
    width: 320px;
    height: 44px;
    display: flex;
    border-radius: 10px;
    overflow: clip;
    background-color: inherit;
    border: 1px solid $light-clr;

    input {
        background-color: inherit;
        width: 100%;
        height: 100%;
        padding-inline: 4px;
        border: none;

        &::placeholder {
            color: $light-clr;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        background-color: inherit;
        cursor: pointer;
        width: 60px;
        display: grid;
        place-content: center;

    }
}

.table-overview {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem;

    thead {
        font-weight: 700;
        color: #373939;

        tr {
            text-align: left;
            border-bottom: 1px solid $light-clr;
        }
    }

    td,
    th {
        padding-block: 14px;
    }

    tbody {
        color: #4A4C4C;
        font-size: 14px;
        font-weight: 500;

        tr:not(:last-child) {
            border-bottom: 1px solid $light-clr;
        }
    }

    .action-btn {
        display: grid;
        place-content: center;
        cursor: pointer;
        background-color: transparent;
        border: transparent;
    }
}

.link-button {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.625em 0.75em;
    background-color: $primary-clr;
    border-radius: 8px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    font-size: 12px;

    &:hover {
        background-color: $primary-clr-dark;
    }

}

svg {
    display: grid;
    place-content: center;
}

.button {
    border: 1px solid $primary-clr;
    color: white;
    padding: 0.625em 0.75em;
    background-color: $primary-clr;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    svg path {
        stroke: white;
        transition: stroke .3s ease-in-out;
    }

    &:hover,
    &:hover svg path {
        background-color: $primary-clr-dark;
        stroke: $primary-clr-dark;
    }

    &.alt {
        background-color: inherit;
        color: $primary-clr;

        svg path {
            stroke: $primary-clr;
        }

        &:hover,
        &:hover svg path {
            background-color: $primary-clr-dark;
            color: white;
            stroke: white;
        }
    }
}


.pagination-wrapper {
    margin-block: 1rem;
    background-color: white;
    padding: 12px 7px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin-inline: auto;
    width: fit-content;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}


.pagination-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: background-color .1s ease-in-out;

    &.active {
        background-color: $light-clr;
    }

    &:hover:not(.active) {
        background-color: $light-clr;
        cursor: pointer;
    }
}