*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@function px-to-rem($px) {
    $base-font-size: 16px;
    @return #{calc($px / $base-font-size)}rem;
}

$body-bg-clr: #F5F5F5;
$nav-link-bg-hover-color: #EFFCF6;
$primary-clr: #0b8342;
$primary-text-clr: #5D5F5F;
$light-clr: #DCDDDD;
$primary-clr-dark: #005925;

body {
    background-color: $body-bg-clr;
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 240px 1fr;
    position: relative;
}

button,
label,
input,
textarea {
    font-family: inherit;
}

.hide-dropdown,
.hide-element {
    display: none !important;
}

.navigation-content {
    background-color: #Ffffff;
    padding-block: 1rem;
    height: 100vh;
}

.main-content {
    padding: 3rem 2.5rem;

    >.wrapper {
        background-color: #FDFCFC;
        border-radius: 10px;
        padding: 1.2rem 1rem;
    }
}

.top-2 {
    margin-top: 2rem;
}

.link-button {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.625em 0.75em;
    background-color: $primary-clr;
    border-radius: 8px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    font-size: .85rem;

    &.big-padding {
        padding: 1rem 2rem;
    }

    &:hover {
        background-color: $primary-clr-dark;
    }

    &.alt {
        background-color: inherit;
        color: $primary-clr;
        border: 1px solid $primary-clr;

        svg path {
            stroke: $primary-clr;
        }

        &:hover,
        &:hover svg path {
            background-color: $primary-clr-dark;
            color: white;
            stroke: white;
        }
    }

}

svg {
    display: grid;
    place-content: center;
}

.button {
    border: 1px solid $primary-clr;
    color: white;
    padding: 0.625em 0.75em;
    background-color: $primary-clr;
    border-radius: 8px;
    font-size: .85rem;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    svg path {
        stroke: white;
        transition: stroke .3s ease-in-out;
    }

    &:hover,
    &:hover svg path {
        background-color: $primary-clr-dark;
        stroke: $primary-clr-dark;
    }

    &.alt {
        background-color: inherit;
        color: $primary-clr;

        svg path {
            stroke: $primary-clr;
        }

        &:hover,
        &:hover svg path {
            background-color: $primary-clr-dark;
            color: white;
            stroke: white;
        }
    }
}

.buttons-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

}

.user-actions-container,
.popover-container {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(219, 219, 219, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper,
    .popover-wrapper {
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        width: min(85%, 500px);
        text-align: center;
    }

    .user-image {
        display: grid;
        gap: .6rem;
    }

    img {
        width: 70px;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .edit-image {
        text-decoration: none;
        color: $light-clr;
    }

    div:has(>.isolate-button-staff-form) {
        display: flex;
        height: 75%;
        align-self: flex-end;
        align-items: center;

        .link-button {
            margin-inline: auto;
            padding: 1rem 2rem;
            display: flex;
            border-width: 2px;
            justify-content: center;
            align-items: center;
        }
    }

}

.table-dropdown-actions {
    .popover-wrapper {
        position: relative;
    }

    .close-icon {
        position: absolute;
        top: 2px;
        left: 2px;
        display: grid;
        place-content: center;
        width: 30px;
        aspect-ratio: 1;
        z-index: 1;
        cursor: pointer;
    }
}

.popover-action-buttons {
    margin-top: 1rem;
    width: 180px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;

    .button,
    .link-button {
        padding-inline: 1rem;
    }
}



$txt-clr-700: #5D5F5F;
$txt-bozy-clr: #373939;


.two-column-list-layout {
    margin-top: 1.5rem;

    ul {
        list-style: none;
    }

    .divider {
        display: flex;
        flex-wrap: wrap;

        &:not(:first-child) {
            margin-top: 1rem;
        }

        >* {
            flex: 1;
            min-width: 200px;
        }
    }

    div:has(>.title) {
        display: grid;
        gap: .1em;
    }

    .title {
        color: $txt-clr-700;
    }

    .value {
        color: $txt-bozy-clr;
        font-size: px-to-rem(14px);

        &.border {
            border-radius: 10px;
            border: 1px solid $primary-clr;
            width: 140px;
            height: 70px;
            display: grid;
            place-content: center;
        }
    }
}

.form-upload.internship {
    margin-top: 3rem;

    button {
        display: flex;
        margin-top: 1rem;
        margin-left: auto;
    }
}

.student-image {
    margin-top: 1rem;
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
}


.courses-list {
    list-style: none;
    margin-top: 1rem;

    li {
        display: inline-block;
        border-radius: 4px;
        background-color: #F3F4F4;
        font-size: px-to-rem(12px);
        color: #4A4C4C;
        font-weight: 500;
        padding: px-to-rem(8px) px-to-rem(12px);

        &:not(:last-child) {
            margin-right: .6rem;
        }
    }
}